body {
    font: 16px/28px arial, sans-serif;
    background-color: #cccccc;
    color: black;
    background-image: url("paper.gif");
    background-size: cover;
    background-attachment: fixed;
}

/* CSS Content html */

.container {
    width: 800px;
    margin: auto;
    background-color: rgba(253,10,4,255);
    outline-style: solid;
    outline-color: black;
}

.header {
    padding: 15px;
    padding-bottom: 5px;
    background-image: url(https://cdn2.steamgriddb.com/file/sgdb-cdn/hero_thumb/d346c2bc24a74cc35bc7c84444da4925.jpg);
    outline-style: solid;
    outline-color: black
}
    .header nav ul li {
        display: inline-block;
        margin-right: 15px;
    }
    .container .header nav ul {
        margin-left: -40px;
    }
    .container .header nav .dropdown {
        display: none;
    }
    .header nav ul li:hover .dropdown {
        display: block;
        background-image: url(https://cdn2.steamgriddb.com/file/sgdb-cdn/hero_thumb/d346c2bc24a74cc35bc7c84444da4925.jpg);
        position: absolute;
        padding: 10px;
        border-radius: 2px;
        outline-style: solid;
        outline-color: rgb(0, 0, 0);
    }
    .header nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 3px;
    }
    .header nav a:hover {
        background-color: rgb(161, 161, 161);
    }

 .content {
    padding: 15px;
 }

    .content p {
        text-align: justify;
    }

    .content .request form {
        margin-top: 20px;
        margin-left: 15px;
        width: 100%;
    }

/* CSS Artikel */
 .artikel {
    padding-left: 10px;
 }
    .artikel .box1 {
        width: 400x;
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .artikel .box1 img {
        width: 90px;
        height: 90px;
    }

    .artikel .box1 p {
        padding-left: 10px;
        text-align: justify;
    }

    .artikel .box2 {
        width: 400x;
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .artikel .box2 img {
        width: 90px;
        height: 90px;
    }

    .artikel .box2 p {
        padding-left: 10px;
        text-align: justify;
    }

    .artikel .box3 {
        width: 400x;
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .artikel .box3 img {
        width: 90px;
        height: 90px;
    }

    .artikel .box3 p {
        padding-left: 10px;
        text-align: justify;
    }

/* CSS Gambar */

 .content img {
    padding-left: 10px;
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: row;
 }
 
 .b img {
    width: 800px;
    height: 250px;
 }
/* CSS Footer */

.footer{
    background-color: black;
    text-align: center;
 }

    .footer p{
        color: lightblue;
        font-size: 16px;
        letter-spacing: 3px;
    }
