body {
    font: 16px/28px arial, sans-serif;
    background-color: #cccccc;
    color: black;
    background-image: url("paper.gif");
    background-size: cover;
    background-attachment: fixed;
}

/* CSS Content html */

.container {
    width: 800px;
    margin: auto;
    background-color: rgba(253,10,4,255);
    outline-style: solid;
    outline-color: black;
}

.header {
    padding: 15px;
    padding-bottom: 5px;
    background-image: url(https://cdn2.steamgriddb.com/file/sgdb-cdn/hero_thumb/d346c2bc24a74cc35bc7c84444da4925.jpg);
    outline-style: solid;
    outline-color: black
}
    .header nav ul li {
        display: inline-block;
        margin-right: 15px;
    }
    .container .header nav ul {
        margin-left: -40px;
    }
    .container .header nav .dropdown {
        display: none;
    }
    .header nav ul li:hover .dropdown {
        display: block;
        background-image: url(https://cdn2.steamgriddb.com/file/sgdb-cdn/hero_thumb/d346c2bc24a74cc35bc7c84444da4925.jpg);
        position: absolute;
        padding: 10px;
        border-radius: 2px;
        outline-style: solid;
        outline-color: rgb(0, 0, 0);
    }
    .header nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 3px;
    }
    .header nav a:hover {
        background-color: rgb(161, 161, 161);
    }

/* CSS Artikel */
 
 .content {
    padding: 15px;
 }

    .content .penulis {
        margin-top: -15px;
        font-size: 16px;
    }

        .content .penulis a {
            text-decoration: none;
            color: blue;
        }

 .content p {
    text-align: justify;
 }


 .content .anime1 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
 }

 .content .anime1 p {
    margin-left: 2rem;
    text-align: justify;
 }

 .content .anime2 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
 }

 .content .anime2 p {
    margin-left: 2rem;
    text-align: justify;
 }

 .content .anime3 {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
 }

 .content .anime3 p {
    margin-left: 2rem;
    text-align: justify;
 }

/* CSS Image */

 .content img {
    margin-top: 0;
    padding-top: 0;
    width: 180px;
    height: 200px;
 }

/* CSS Footer */

 .footer{
    background-color: black;
    text-align: center;
 }

    .footer p{
        color: lightblue;
        font-size: 16px;
        letter-spacing: 3px;
    }